/*@import url(reset.css);*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

section {
  margin: 0.5em 1em;
}

.allergies {
  font-weight: bold;
}

.menu {
  border: 2px dashed #000000;
  padding: 1em;
}

.menu-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.menu-item {
  padding: 1em;
  margin: 1em;
}

.order-info {
  background-color: black;
  color: white;
  border: 2px dashed #ffffff;
  padding: 1em;
}

button {
  margin: 1em 0 0.5em 1em;
  font-size: 1.5em;
}

button:hover {
  background-color: lightblue;
  cursor: pointer;
}

button > img {
  margin-top: auto;
  vertical-align: bottom;
}

header {
  display: flex;
  background-image: url(/img/banner.jpg);
  background-size: 100% auto;
  justify-content: center;
  padding: 0 1em;
  margin: 0.5em 1em;
  height: 20vh;
}

.header h1 {
  color: white;
  margin-top: 2em;
  text-shadow: 1px 1px 2px #000000;
}
